.detail-recipe {
  box-shadow: 0 5px 10px gray;
  background-color: #fff;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  padding: 50px;
}

.dark .detail-recipe {
  background-color: rgb(102, 102, 102);
  color: rgb(224, 224, 224);
  box-shadow: 0 5px 10px rgb(27, 27, 27);
}

.detail-recipe h2 {
  margin-bottom: 15px;
}

.detail-recipe ul {
  margin: 15px 0;
}

.detail-recipe li {
  list-style-type: none;
}