.recipe-card {
  width: 300px;
  padding: 25px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 5px 10px gray;
  margin-bottom: 25px;
  position: relative;
}

.dark .recipe-card {
  background-color: rgb(102, 102, 102);
  color: rgb(224, 224, 224);
  box-shadow: 0 5px 10px rgb(27, 27, 27);
}

.recipe-card h2 {
  text-align: center;
  margin: 10px auto;
  color: #333;
}

.dark .recipe-card h2 {
  color: #fff;
}

.recipe-card p {
  margin-bottom: 10px;
}

.recipe-card a {
  text-decoration: none;
  background-color: rgb(31, 122, 110);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  display: block;
}

.delete {
  position: absolute;
  top: 15px;
  right: 25px;
}