.search {
  width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-title {
  text-align: center;
  margin: 10px auto;
  color: #333;
}
.dark .search-title {
  color: #fff;
}